<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Speedo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Speedo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>{{speed}} Km/h</strong>

    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <br>
    <strong>lat : {{lat}}</strong> <br>
    <strong>long : {{long}}</strong>

  </div>

  <ion-button expand="block" (click)="startGettingSpeed()">Start</ion-button>
  <ion-button expand="block" (click)="stopTracking()">Stop</ion-button>
</ion-content>
